.card {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // transition: 0.3s;
  // width: 230px;
  // border-radius: 5px;
  // padding: 10px;
  // margin: 10px;
  // height: 440px;
  // background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 265px;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  height: 490px;
  background-color: #ffffff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.wrap-img {
  // width: 230px;
  // height: 230px;
  background-color: #eceaea;
}

img {
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 2px 16px;
}

.card-body ul {
  margin: 2px 0px;
}

.card-title {
  font-weight: 700;
  color: #5756c7;
  padding: 10px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-sub-heading {
  font-weight: 600;
  width: 100px;
  word-break: break-word;
}

.card-text {
  color: #5756c7;
  width: 80px;
  word-break: break-word;
  text-transform: capitalize;
  float: right;
}

.li-card-text {
  color: #5756c7;
}

@media only screen and (min-width: 1440px) {
  // .filter-button {
  //   background-color: pink;
  // }
  .card {
    width: 235px;
  }
}
