.filter-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  margin: 15px 30px;
  float: none;
  height: fit-content;
}

.filter-button {
  background-color: #26882a;
  border: none;
  color: white;
  padding: 12px 49px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.7;
  margin: 2px 9px;
  border-radius: 5px;
}

.selected-filter {
  opacity: 1;
}

.filter-heading {
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (min-device-width: 700px) {
  .filter-wrapper {
    float: left;
    min-width: 300px;
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .filter-wrapper {
    min-width: 300px;
    width: 300px;
  }
}

@media only screen and (min-width: 1440px) {
  .filter-button {
    justify-content: center;
  }
}
