.App {
  background-color: #eceaea;
  min-height: 100vh;
  /* min-height: 100%; */
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.align-center {
  text-align: center;
}
